{% extends "./base.html" %}

{% block title %} Edición de estudiante primaria {% endblock %}

{%  block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición Estudiante primaria</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarEstudiante/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtDocumento" name="txtDocumento" value="{{estudiante.id_estudiante}}" class="form-control" placeholder="Documento" 
                        minlength="8" maxlength="10" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{estudiante.nombre}}" class="form-control" placeholder="Nombre" 
                        maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido" name="txtApellido" value="{{estudiante.apellido}}" class="form-control" placeholder="Apellido" 
                        maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtGrado" name="txtGrado" value="{{estudiante.grado}}" class="form-control" placeholder="Grado" 
                        maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}