{% extends "./base.html" %}

{% block title %} Gestión de estudiantes {% endblock %}

{%  block body %}
<div class="row">
    <div class="col-sm-12">
        <h1>Listado de Estudiantes de Primaria</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Grado</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Se usa el metodo MostrarInfo -->
                    {% for MostrarInfo in estudiantes_primaria %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ MostrarInfo.id_estudiante }}</td>
                        <td>{{ MostrarInfo.nombre }}</td>
                        <td>{{ MostrarInfo.apellido }}</td>
                        <td>{{ MostrarInfo.grado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12">
        <h1>Listado de Estudiantes de Secundaria</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Se usa el metodo MostrarInfo -->
                    {% for MostrarInfo in estudiantes_secundaria %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ MostrarInfo.nombre }}</td>
                        <td>{{ MostrarInfo.apellido }}</td>
                        <td>{{ MostrarInfo.id_estudiante }}</td>
                        <td>{{ MostrarInfo.especialidad}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}